node-red-SEM-Three-Jordi-12-12-2020.txt
[{"id":"dac75e25.5efe9","type":"ui_chart","z":"e5006663.193a98","name":"Potencia Activa  W III","group":"8b8c8a58.4ebb58","order":0,"width":"21","height":"4","label":"Potencia Activa consumida casa W","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":951.9763145446777,"y":136.19109672307968,"wires":[[]]},{"id":"a8ebbcbf.45643","type":"sma-webconnect","z":"e5006663.193a98","ip_address":"192.168.1.120","right":"istl","use_tls":true,"x":377.6618881225586,"y":530.3890072438452,"wires":[["ab8fe230.d9ff9","80ba914d.00098"]]},{"id":"1b26c0d2.f9101f","type":"inject","z":"e5006663.193a98","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":175.65143585205078,"y":530.6111995312903,"wires":[["a8ebbcbf.45643"]]},{"id":"ab8fe230.d9ff9","type":"debug","z":"e5006663.193a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":609.2070465087891,"y":565.6111895177099,"wires":[]},{"id":"20ff7d21.8b0ff2","type":"ui_chart","z":"e5006663.193a98","name":"Potencia Solar  W III","group":"8b8c8a58.4ebb58","order":0,"width":"21","height":"4","label":"Potencia Solar W III","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1108.670753479004,"y":519.2778849005699,"wires":[[]]},{"id":"6059d1b.e489d3","type":"comment","z":"e5006663.193a98","name":"Potencia solar W","info":"","x":110.67073059082031,"y":463.7223364445898,"wires":[]},{"id":"80ba914d.00098","type":"function","z":"e5006663.193a98","name":"Potencia Solar","func":"var solar={payload: msg.payload.power}\nglobal.set('power_solar',solar);\nvar a = msg.payload.power;\n\nnode.status({text:a});\nreturn solar;","outputs":1,"noerr":0,"x":620.0265121459961,"y":512.3798031210899,"wires":[["20ff7d21.8b0ff2","e2be32c8.203d9","28c4e496.58276c"]]},{"id":"e2be32c8.203d9","type":"debug","z":"e5006663.193a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":856.9631890190972,"y":561.7046277721722,"wires":[]},{"id":"28c4e496.58276c","type":"mqtt out","z":"e5006663.193a98","name":"","topic":"potencia_solar","qos":"","retain":"","broker":"fe5a111.f3c20f","x":944.0897521972656,"y":470.2277498245239,"wires":[]},{"id":"8e067e89.6b954","type":"mqtt out","z":"e5006663.193a98","name":"power_carrer","topic":"potencia_carrer","qos":"","retain":"","broker":"fe5a111.f3c20f","x":909.2484703063965,"y":201.02051872015,"wires":[]},{"id":"f6f02aa0.6ed7c8","type":"debug","z":"e5006663.193a98","name":"base de dades","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1122.4177017211914,"y":287.17235320806503,"wires":[]},{"id":"298358a3.c0de38","type":"function","z":"e5006663.193a98","name":"FORMAT JSON","func":"var powersolar=global.get('power_solar') || 0;\nvar power_carrer=msg.payload;\nvar power_solar=powersolar.payload\n\n//msg.payload = {potencia_solar:0,potencia_carrer:power_carrer};\nmsg.payload = {potencia_solar:power_solar,potencia_carrer:power_carrer};\nvar a = msg.payload.potencia_solar;\nvar b = msg.payload.potencia_carrer;\nnode.status({text:[\"solar:\",a,\"casa:\",b]});\nreturn msg;","outputs":1,"noerr":0,"x":847.8806266784668,"y":276.9294428229332,"wires":[["f6f02aa0.6ed7c8","385b89cf.18cd66"]]},{"id":"385b89cf.18cd66","type":"influxdb out","z":"e5006663.193a98","influxdb":"80f5054e.8d0768","name":"","measurement":"potencies","precision":"","retentionPolicy":"","x":1168.3849182128906,"y":238.95249551534653,"wires":[]},{"id":"f9a03fec.44001","type":"inject","z":"e5006663.193a98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157.4063262939453,"y":569.7395073506567,"wires":[["a8ebbcbf.45643"]]},{"id":"e9ea721c.48ce1","type":"modbus-response","z":"e5006663.193a98","name":"","registerShowMax":20,"x":456.7397117614746,"y":74.7776517868042,"wires":[]},{"id":"784d6b7f.2d0c14","type":"modbus-read","z":"e5006663.193a98","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"306","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ec7ba0c0.f8c89","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":209.73963928222656,"y":131.7776641845703,"wires":[["e9ea721c.48ce1"],["595f34e9.e67e9c"]]},{"id":"558da789.005e98","type":"comment","z":"e5006663.193a98","name":"Potencia activa CASA III W 0x132-0x133","info":"","x":165.68402862548828,"y":71.9999994635582,"wires":[]},{"id":"595f34e9.e67e9c","type":"function","z":"e5006663.193a98","name":"Potencia activa casa","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.payload.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readInt32BE();\n\n\n// save the value\nmsg.payload = value;\n\n//msg.payload[0] = msg.payload[0] - 65535;\n//if (msg.payload[1]>65000) { msg.payload = -1*(msg.payload[1] - 65535);}\n//if (msg.payload[1]<65000) { msg.payload = msg.payload[1];}\nvar a = msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"x":470.7362747192383,"y":193.12145137786865,"wires":[["f9bd906a.ee824"]]},{"id":"6548ecd3.cfaaa4","type":"debug","z":"e5006663.193a98","name":"POTENCIA ACTIVA CASA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1049.4063110351562,"y":85.29155105352402,"wires":[]},{"id":"f9bd906a.ee824","type":"function","z":"e5006663.193a98","name":"Power SEM","func":"//var powersolar=global.get('power_solar') || 0;\n//var power_carrer=msg.payload;\nvar power_consum_casa=msg.payload\n//var power_solar=powersolar.payload\n//power_carrer=Math.abs(power_carrer-power_solar)\n//msg.payload=power_carrer;\nmsg.payload=power_consum_casa;\nvar a = msg.payload;\nnode.status({text:a});\nnode.status({text:[\"Power_consum_casa:\",a]});\n//node.status({text:[\"Solar-SEM:\",a]});\nreturn msg;","outputs":1,"noerr":0,"x":670.0214767456055,"y":94.25001949071884,"wires":[["6548ecd3.cfaaa4","dac75e25.5efe9","8e067e89.6b954","298358a3.c0de38"]]},{"id":"8e094f20.2774","type":"mqtt in","z":"e5006663.193a98","name":"","topic":"potencia_solar","qos":"2","datatype":"auto","broker":"fe5a111.f3c20f","x":192.6944351196289,"y":699.8334150314331,"wires":[["7285bf93.649aa"]]},{"id":"7285bf93.649aa","type":"debug","z":"e5006663.193a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":547.6840362548828,"y":675.5312881469727,"wires":[]},{"id":"8b8c8a58.4ebb58","type":"ui_group","z":"","name":"SEM Three","tab":"d0ae1414.daa398","disp":true,"width":"21","collapse":false},{"id":"fe5a111.f3c20f","type":"mqtt-broker","z":"e5006663.193a98","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80f5054e.8d0768","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"ENERGIA","name":"","usetls":false,"tls":""},{"id":"ec7ba0c0.f8c89","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"72","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"d0ae1414.daa398","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]