node-red-SEM-Three-Jordi-transformer-current-setup-12-12-2020.txt
[{"id":"74a6dead.b29da","type":"modbus-write","z":"eb2d020b.295a2","name":"Select working mode","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"12","quantity":"1","server":"ec7ba0c0.f8c89","x":350.0173645019531,"y":111.01041412353516,"wires":[["761db534.35247c"],[]]},{"id":"761db534.35247c","type":"modbus-response","z":"eb2d020b.295a2","name":"","registerShowMax":20,"x":620.0033798217773,"y":111.14583110809326,"wires":[]},{"id":"47bea88a.c3c5f8","type":"inject","z":"eb2d020b.295a2","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126.01038360595703,"y":107.39575004577637,"wires":[["74a6dead.b29da"]]},{"id":"5bfe2cd8.51d8b4","type":"modbus-write","z":"eb2d020b.295a2","name":"setup current transformer L1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"50","quantity":"1","server":"ec7ba0c0.f8c89","x":380.0173645019531,"y":208.0104217529297,"wires":[["9a6e38eb.5e1638"],[]]},{"id":"9a6e38eb.5e1638","type":"modbus-response","z":"eb2d020b.295a2","name":"","registerShowMax":20,"x":630.0033798217773,"y":208.1458387374878,"wires":[]},{"id":"ff5dee7d.9bd76","type":"inject","z":"eb2d020b.295a2","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136.01038360595703,"y":204.3957576751709,"wires":[["5bfe2cd8.51d8b4"]]},{"id":"f8df0d3b.e0f3","type":"modbus-write","z":"eb2d020b.295a2","name":"setup current transformer","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"250","quantity":"1","server":"ec7ba0c0.f8c89","x":382.0173645019531,"y":286.0104064941406,"wires":[["7a6a9cfc.568de4"],[]]},{"id":"7a6a9cfc.568de4","type":"modbus-response","z":"eb2d020b.295a2","name":"","registerShowMax":20,"x":642.0033798217773,"y":286.14582347869873,"wires":[]},{"id":"2469b74e.9465d8","type":"inject","z":"eb2d020b.295a2","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148.01038360595703,"y":282.39574241638184,"wires":[["f8df0d3b.e0f3"]]},{"id":"4d605c0e.f7afd4","type":"modbus-write","z":"eb2d020b.295a2","name":"Select working mode","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"450","quantity":"1","server":"ec7ba0c0.f8c89","x":358.0069808959961,"y":354.0104064941406,"wires":[["75303cad.813ea4"],[]]},{"id":"75303cad.813ea4","type":"modbus-response","z":"eb2d020b.295a2","name":"","registerShowMax":20,"x":627.9929962158203,"y":354.14582347869873,"wires":[]},{"id":"f7e1219f.6ad8f","type":"inject","z":"eb2d020b.295a2","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":134,"y":350.39574241638184,"wires":[["4d605c0e.f7afd4"]]},{"id":"ec7ba0c0.f8c89","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"72","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false}]